# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Node
node_modules/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Ignore the massive datasets
data/

# Ignore the encrypted files
*.zip
*.tar